@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:wght@700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

.landing-theme {
  --color-brand-gold: #c5a059;
  --color-brand-black: #111111;
  --color-brand-gray: #f5f5f5;

  --font-family-serif: "Playfair Display", serif;
  --font-family-sans: "Inter", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-bg {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../../../public/images/hero-bg.webp");
  background-size: cover;
  background-position: center;
}
